<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msz.mall.dao.ProduceMapper">
    <sql id="Base_Column_List">
        id,category_id,name,subtitle,main_image,detail,price,stock,status,create_time,update_time
    </sql>
    <select id="queryById" resultType="com.msz.mall.pojo.Product">
        select
        <include refid="Base_Column_List"></include>
        from mall_product where id=#{id}
    </select>
</mapper>